
[tasks.dbuild]
run = "dagger call build"
description = "Build the project in dagger"

[tasks.publish]
run = "dagger call publish"
description = "Publish the project to ttl.sh"

[tasks.push]
run = "git push"
depends = ["publish"]

[tasks.local]
run = "uv run python -m ibidem_api"
env = { "DEPLOY_SUBJECTS_PATH" = "./hack/deploy_subjects.yaml" }

[tools]
python = "3.14.0"
uv = "latest"
